/*Universal Selector*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Body Declarations*/

body {
    background-color: #d9dcd6;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Using an actual <header> tag instead of a class named "header"*/

/*----------------Header Start----------------*/

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}


nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Removed "list-style-type: none*/

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*added header to the <a> and <p> tags for better clarification*/
header a {
    color: #ffffff;
    text-decoration: none;
}

header p {
    font-size: 16px;
}

/*---------------Hero content Start--------------*/

.hero img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    /*Removed image source and placed it in HTML*/

}

/*-----------Contents Start------------*/


.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Deleted the individual css declarations for <h2> and <image> and grouped them into one class. This consolidated all the individuals values into one singular CSS command under the <contents> class*/

.contents {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.contents img {
    max-height: 200px;
}

.contents h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*-----------------Benefits Start-----------------*/

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Removed "benefit-lead, benefit-brand, and benefit-cost" declarations. Consolidated with a single h3 element*/

/*consolidated the multiple image and styling elements into one singlar <benefit> class*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*-------------------Footer Start-----------------*/

/*Using a <footer> tag instead of an <div> labled as "footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/*---added a link to return back to top of page*/
 footer h2 a {
     text-decoration: none;
     color: black;
 }